<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="google-site-verification" content="ZavJZ7JVCT_Lkty-Q9vR5F4cTukbXvJPMQbIYEvylwY" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="English Gate - Clases de Inglés en Bariloche - Romina Couto">
        <meta name="keywords" content="English,Ingles,Inglés,Bariloche,Romina Couto,English Gate,Gate,Britannia,Steps,Romina,
        Couto,Greenfield,Instituto,Melipal,Cursos Avanzados,Clases Particulares,First Certificate,
        CAE Certificate in Advanced English,CPE Certificate of Proficiency in English,Adultos,Adolescentes,
        Inglés en Bariloche,clases,lecciones,cursos,patagonia,lenguaje">
        <meta name="author" content="Marcos D. Sánchez">
        <title>English Gate - Clases de Inglés en Bariloche - <%= @path %></title>
        <link rel="shortcut icon" href="/images/favicon.ico">
        <link rel="stylesheet" href="<%= stylesheet_path @require_css %>">
        <script src="<%= javascript_path 'ganalytics' %>"></script>
    </head>
    <body>
        <header class="masthead">
        <nav>
        <ul class="nav nav-pills pull-right">
            <li <%= 'class="active"' if same_path?(@path, '/acerca-de') || @path == '/' %>><a href="/acerca-de">Acerca de English Gate</a></li>
            <li <%= 'class="active"' if same_path?(@path, '/ubicacion') %>><a href="/ubicacion">Ubicación</a></li>
            <li <%= 'class="active"' if same_path?(@path, '/contacto') %>><a href="/contacto">Contacto</a></li>
        </ul>
        </nav>
        <span class="logo"><span class="tick">✓</span>English Gate</span>
        </header>
        <hr>
        <div class="ribbon visible-desktop"><span>100% Aprobación 2013</span></div>
